################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/chess/FileContentIndex/3307f4ee-560b-40cc-b06d-aae05a610ab2.vsidx
