################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/chess/FileContentIndex/3307f4ee-560b-40cc-b06d-aae05a610ab2.vsidx
/.vs/chess/FileContentIndex/7111686f-5249-4f8e-8c6e-fff5a09d44f3.vsidx
/.vs/chess/FileContentIndex/b3eecd3c-881c-4d5f-9558-9609f07ca9e7.vsidx
/.vs/chess/FileContentIndex/d2a1dfbd-c59d-46e3-84eb-e8901770ca3d.vsidx
/.vs/chess/FileContentIndex/d2ead430-17bd-47bb-a1e5-d176c608d835.vsidx
